@{
    ViewBag.Title = "Address";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Address: C-4, Wagle Industrial Estate, <br>
    Near Mulund Check Naka, <br>
    Thane West, opp. Aplab, Mumbai, <br>
    Maharashtra 400604
    <br />
   <B>Phone :  022 2583 2466</B>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>